/*#firstname, #lastname, #email, #password{
    margin-bottom: 15px;
}*/
/*#lastname{
    
}
#email{
   
}
#password{
     
}*/
.error-message{
    color: red;
}

.login-form, .form-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.input-fields, .signup-form{
    display: grid;
    row-gap: 5px;
}

.btn-submit{
    margin-top: 20px;
}