/*#firstname, #lastname, #email, #password{
    margin-bottom: 15px;
}*/
/*#lastname{
    
}
#email{
   
}
#password{
     
}*/
.error-message{
    color: red;
    text-align: center;
    padding-top: 5px;
}

.login-form, .form-container{
    display: flex;
    flex-direction: column;
    /*margin-bottom: 30px;*/
}
.input-fields, .signup-form{
    display: grid;
    row-gap: 5px;
}

.btn-submit{
    margin-top: 20px;
}

.spinner-container{
 display: flex;
 justify-content: center;
 margin-top: 15px

}

.spinner-container svg{
 position: absolute;
}