/*slideshow*/
@media (width >= 48em) {
  .gallery-container{
    padding-left: 20px;
  }
    .next-btn, .prev-btn
  {
     width: 25px;
  }
}
@media (width < 48em) {
  .next-btn, .prev-btn
  {
     width: 35px;
  }
}


.gallery-container{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
    max-width: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.prod-img{
  width: 100%;
  max-width: 440px;
}
/*
.movable-block{
  max-width: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}*/

.next-btn, .prev-btn{
  position: absolute;
  top: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 20;
 
}
.prev-btn{
  
  left: 0;
 
}
.next-btn{
  right: 0;
  
}
.arrow-btn{
  width: 100%;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-container{
  text-align:center;
  margin-bottom: 20px;
}
.active, .dot:hover {
  background-color: #717171;
}

.single-prod-img{
  max-width: 500px;
  width: 100%;
}