/*slideshow*/
@media (width >= 48em) {
  .gallery-container{
    padding-left: 20px;
  }
    .next-btn, .prev-btn
  {
     width: 25px;
  }
  .single-prod-img{
    /*stackovfl*/
    width: 100%; /* or max-width: 100%; */
    height: auto;
    /*me*/
    /*min-width: 480px;*/
  }
}
@media (width < 48em) {
  .next-btn, .prev-btn
  {
     width: 35px;
  }
}


.gallery-container{
  background-color: white;
  width: 100%;
  display: flex;
  
  align-items: center;
  justify-content: center;
  position: relative;
  /*keep the image centered between 515 - 767px*/
  margin-left: auto;
  margin-right: auto;
  /*copilot*/
  /*\\ aspect-ratio: 1;*/
}


.next-btn, .prev-btn{
  position: absolute;
  top: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  /*copilot*/
  z-index: 10
}
.prev-btn{
  
  left: 0;
 
}
.next-btn{
  right: 0;
  
}
.arrow-btn{
  width: 100%;
}
  .next-btn:active, .prev-btn:active
  {
    /* This removes the blue highlight on mobile */
  -webkit-tap-highlight-color: transparent;
  /*scale: 0.90;*/
  transform: scale(0.90); /* Shrinks slightly when tapped */
  opacity: 0.7;           /* Fades slightly */
  transition: transform 0.1s;
  }
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-container{
  text-align:center;
  margin-bottom: 20px;
}
.active, .dot:hover {
  background-color: #717171;
}

.single-prod-img{
  max-width: 500px;
  width: 100%;
  aspect-ratio: 1/1;
  /*copilot*/
  
  /*looks bad at 941 width*/
  /*height: 500px;*/
  object-fit: contain
}